<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnbg.zs.ebook.api.mapper.CompanyMapper">
    <select id="selectEntityList" resultType="com.cnbg.zs.ebook.api.dto.CompanyDTO">
SELECT
	t1.id,
	t1.company_name,
	t1.company_short_name,
	t1.create_time,
	t1.create_user,
	t2.provincial_name
FROM
	t_company t1,
	t_provincial t2
WHERE
	t1.provincial_id = t2.id
	<if test="cm.companyName !=null">
        and t1.company_name like concat('%',#{cm.companyName},'%')
    </if>
		<if test="cm.id !=null">
			and t1.id = #{cm.id}
		</if>
		<if test="cm.provincialId !=null">
			and t1.provincial_id = #{cm.provincialId}
		</if>
    </select>
</mapper>