<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cnbg.zs.ebook.api.mapper.DepartmentMapper">
    <select id="selectEntityList" resultType="com.cnbg.zs.ebook.api.dto.DepartmentDTO">
        SELECT
	t1.department_name,
	t1.department_short_name,
	t2.company_name,
	t1.id,
	t1.create_time
FROM
	t_department t1,
	t_company t2
WHERE
	t1.company_id = t2.id

	<if test="cm.departmentName !=null">
        and  t1.department_name  = #{cm.departmentName}
    </if>
		<if test="cm.companyId !=null">
			and  t1.company_id  = #{cm.companyId}
		</if>
    </select>
</mapper>